.tags {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    column-gap: 10px;
    @media screen and (min-width: 1440px) {
        grid-template-columns: 150px 150px 150px;
    }
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF6060;
        width: 100px;
        height: 18px;
        border-radius: 5px;
        margin-bottom: 5px;
        @media screen and (min-width: 1440px) {
            width: 150px;
            height: 25px;
            border-radius: 10px;
        }
        & p {
            font-family: 'Montserrat';
            font-size: 10px;
            font-weight: 700;
            line-height: 14px;
            color: #FFF;
            @media screen and (min-width: 1440px) {
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}