.card-board {
    @media screen and (min-width: 1440px) {
        background-color: #F6F6F6;
        border-radius: 25px;
        padding: 56px;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        align-items: center;
        row-gap: 50px;
    }
    & a {
        text-decoration: none;
    }
}

.info__title {
    margin: 15px 0;
    & br {
        @media screen and (min-width: 1440px) {
            display: none;
        }
    }
     & h1 {
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        color: #FF6060;
        @media screen and (min-width: 1440px) {
            font-size: 36px;
            line-height: 51px;
        }
     }
     & p {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        color: #000;
        margin-top: 5px;
        @media screen and (min-width: 1440px) {
            font-size: 18px;
            line-height: 25px;
        }
     }
}

.info__host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    @media screen and (min-width: 1440px) {
        flex-direction: column-reverse;
        row-gap: 21px;
        align-items: end;
    }
}
.accordionContainer {
    margin-top: 16px;
    @media screen and (min-width: 1440px) {
        display: flex;
        column-gap: 76px;
        margin-bottom: 20px;
        margin-top: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .info {
        display: grid;
        grid-template-areas: "A B"
                             "C B";
    }
    .info__title {
        grid-area: A;
    }
    .info__host {
        grid-area: B;
    }
    .info__tags {
        grid-area: C;
    }
}
.accordion-section {
    max-width: 1053px;
    margin: 0px auto;
}

